@media(max-width: 600px) {

  .scene {
    width: 100px;
    height: 100px;
    perspective: 100px;

  }

  .hero {
    padding: 50px 25px;
    justify-content: flex-start;
  }

  .card {
    width: 100px;
    height: 100px;
  }

}